<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
			<add key="PrinterName" value="Black Copper BC-85AC"/><!--Black Copper BC-85AC-->
		<!--<add key="LogFilePath" value="C:\\Users\\ANUSHA\\Documents\\Areeb\\Logs\\"/>-->
		<!--<add key="LogFilePath" value="C:\\Users\\user\\Documents\\RapiidoPrintingApp\\Logs\\"/>-->
  
	</appSettings>
  <connectionStrings>
 
     <!--Sujing-->
    <add name="Connection" connectionString="iyZ/7DwT+0Qzos037ib5i1yC0qkD9N9yujqGHt8t/TBrITyKrPFR90SWA2vOdh4nmM0XUvCZmPV3SlIuDDyW2nW08g98OBxMEHwHy/BaKobULtG52mDDU2y9YDUBAaJU5zqzLTnt5OUSIU1Wf/Xl/l4m6bqMkOmqixbeR8MHzqg=" />

  </connectionStrings>
</configuration>